<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
  <title>SlackReminder scenario</title>
  <script>
    window['BEARER_CONFIG'] = {
      integrationHost: 'https://int.staging.bearer.sh/'
    }
  </script>
  <script src="/build/slack-reminder.js"></script>
  <style>
    body {
      padding: 50px;
    }

    hr {
      margin: 20px 0;
    }
  </style>
</head>

<body>
  <h1>Setup component</h1>
  <slack-reminder-setup>
  </slack-reminder-setup>
  <slack-reminder-setup-display>
  </slack-reminder-setup-display>
  <hr />
  <h1>Action component</h1>

  <h3>Remind me</h3>
  <slack-reminder setup-id="742ed9c0-8e77-11e8-92c2-d98e25ade4c8" text="Remind me ⏰" what="Eat bananas 🍌" when="in 1 min"
    who="me"></slack-reminder>

  <h3>Remind someone</h3>
  <slack-reminder setup-id="742ed9c0-8e77-11e8-92c2-d98e25ade4c8" text="Remind someone 👨‍💻" what="Eat bananas 🍌" when="in 1 min"></slack-reminder>

  <h3>Remind something</h3>
  <slack-reminder setup-id="742ed9c0-8e77-11e8-92c2-d98e25ade4c8" text="Remind me something ✅" when="in 1 min" who="me"></slack-reminder>

  <h3>Remind sometime</h3>
  <slack-reminder setup-id="742ed9c0-8e77-11e8-92c2-d98e25ade4c8" text="Remind me sometime 🗓" what="Eat bananas 🍌" who="me"></slack-reminder>

  <h3>Remind something to someone sometime</h3>
  <slack-reminder setup-id="742ed9c0-8e77-11e8-92c2-d98e25ade4c8" text="Remind"></slack-reminder>

</body>

</html>