.root {
  background: #edeff0;
  padding: 10px;
  display: flex;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  border-radius: 6px;
}

.content {
  flex: 1;
  padding: 0 4px;
}

a {
  text-decoration: none;
  color: #333;
}

.title {
  line-height: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5rem;
}

.branch {
  background-color: #e8f0f8;
  color: #336479;
  padding: 0 5px;
  border-radius: 3px;
  white-space: nowrap;
  display: inline-block;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
}
.content {
}
